main {
    min-height: 90vh;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

footer{
    min-height: 20vh;
}

ul{
    padding:  0;
    text-align: left;
    list-style: none
}

li{
    display: flex;
}

a{
    color: black;
    text-decoration: none
}

.icono{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.btn_month{
    display: none;
    border: solid;
    border-radius: 5%;
    background-color: lightgray;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        display: block;
    }
    to {
        transform: translateX(0);
    }
}

.hamburger-btn:hover{
    cursor: pointer;
    color: red;
    border-radius: 20%;
}