main {
    min-height: 75%;
    background-color: aquamarine;
}

ul{
    padding:  0;
    text-align: left;
    list-style: none
}

li{
    display: flex;
}

a{
    color: black;
    text-decoration: none
}

#rojo{
    background-color: red;
}

.icono{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.btn_month{
    display: none;
    border: solid;
    border-radius: 5%;
    background-color: lightgray;
}

.hamburger-btn:hover{
    cursor: pointer;
    color: red;

    border-radius: 20%;
}